<section class="page-form-ele page">
    <br>

    <div class="row">
        <div class="col-md-6">

            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Режим отладки <b> </b></div>
                <div class="panel-body text-center">

                    <div class="panel-body text-center">
                        <button ng-click="debugModeOn()" class="btn btn-danger">ON</button>
                        <button ng-click="debugModeOff()" class="btn btn-success">OFF</button>
                    </div>

                </div>
            </section>
        </div>

    </div>

</section>


